# Movie Recommendation Systems

In [63]:
import pandas as pd
movieratings = pd.read_csv(r"C:\Users\Faisal\Desktop\Courses\RecommenderSystems\Recommendation_System\Datasets\movieratings.csv",encoding="ISO-8859-1")

In [64]:
movieratings.rename(columns={'id':'movieId'},inplace=True)
movieratings.rename(columns={'ï»¿userId':'userId'},inplace=True)
movieratings.head()

   userId  movieId          original_title release_date  rating
0       1      110  Trois couleurs : Rouge    5/27/1994     1.0
1       1      147  Les Quatre Cents Coups     5/4/1959     4.5
2       1      858    Sleepless in Seattle    6/24/1993     5.0
3       1     1246            Rocky Balboa   12/20/2006     5.0
4       1     1968           Fools Rush In    2/14/1997     4.0

In [65]:
movieratings1 = movieratings.pivot_table(index=['userId'],columns=['original_title'],values='rating')

In [66]:
se7en_ratings = movieratings1['Se7en']
se7en_ratings.head()

userId
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: Se7en, dtype: float64

In [67]:
similarmovies = movieratings1.corrwith(se7en_ratings)
similarmovies = similarmovies.dropna()

df = pd.DataFrame(similarmovies)
df.head(10)

c:\Users\Faisal\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\lib\function_base.py:2846: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
c:\Users\Faisal\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\lib\function_base.py:2705: RuntimeWarning: divide by zero encountered in divide
  c *= np.true_divide(1, fact)

                                  0
original_title
28 Days Later              1.000000
28 Weeks Later            -1.000000
48 Hrs.                   -0.500000
5 Card Stud               -1.000000
???                       -0.354604
???????                    0.318689
???????????????????        1.000000
A Beautiful Mind           1.000000
A Clockwork Orange        -0.301511
A Nightmare on Elm Street -1.000000

In [68]:
similarmovies.sort_values(ascending=False)

original_title
FC Venus                                            1.0
Last Days                                           1.0
The Adventures of Priscilla, Queen of the Desert    1.0
Se7en                                               1.0
El Crimen del Padre Amaro                           1.0
                                                   ...
Best Seller                                        -1.0
Dog Day Afternoon                                  -1.0
Fight Club                                         -1.0
CrustacÃ©s et coquillages                          -1.0
Back to the Future Part II                         -1.0
Length: 191, dtype: float64

In [69]:
import numpy as np

moviestats = movieratings.groupby('original_title').agg({'rating':[np.size,np.mean]})
moviestats.head()

                                 rating
                                   size      mean
original_title
!Women Art Revolution                34  3.014706
$5 a Day                              8  2.000000
'Gator Bait                           6  3.583333
'R Xmas                               6  3.666667
'Twas the Night Before Christmas     16  3.718750

In [70]:
popularMovies = moviestats['rating']['size'] >= 100
moviestats[popularMovies].sort_values([('rating', 'mean')], ascending=False)[:15]

                                   rating
                                     size      mean
original_title
The Million Dollar Hotel             3692  4.412378
Sleepless in Seattle                 2325  4.333763
Hard Target                           539  4.286642
Once Were Warriors                   2733  4.261983
Die BÃ¼chse der Pandora               190  4.236842
Murder She Said                      1129  4.232950
Torrente 2: MisiÃ³n en Marbella       238  4.224790
Cousin, Cousine                       918  4.222222
License to Wed                       2438  4.216981
The Talented Mr. Ripley              1330  4.208647
LeiutajatekÃ¼la Lotte                 208  4.199519
Terminator 3: Rise of the Machines   3464  4.199480
The Good Thief                        824  4.197816
Je vais bien, ne t'en fais pas        245  4.195918
The Thomas Crown Affair              1724  4.186485

In [71]:
df = moviestats[popularMovies].join(pd.DataFrame(similarmovies, columns=['similarity']))
df.sort_values(['similarity'],ascending=False).dropna()[:29]

C:\Users\Faisal\AppData\Local\Temp\ipykernel_7504\489635757.py:1: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (2 levels on the left, 1 on the right)
  df = moviestats[popularMovies].join(pd.DataFrame(similarmovies, columns=['similarity']))

,"(rating, size)","(rating, mean)",similarity
original_title,,,
"The Adventures of Priscilla, Queen of the Desert",126,3.396825,1.0
Last Days,152,2.631579,1.0
The Karate Kid,164,3.710366,1.0
FC Venus,106,3.820755,1.0
Alien,343,3.651603,1.0
El Crimen del Padre Amaro,150,2.803333,1.0
The Dark,986,3.958925,1.0
Don't Make Waves,764,3.603403,1.0
Good Will Hunting,128,2.683594,1.0
Gandhi,520,3.271154,1.0
Forces of Nature,670,3.675373,1.0
Breakfast at Tiffany's,180,3.394444,1.0
Fail-Safe,170,2.235294,1.0
Changing Lanes,193,3.759067,1.0
The Ewok Adventure,454,3.803965,1.0
Cold Mountain,306,3.965686,1.0
Beetlejuice,978,4.049591,1.0
Con Air,115,3.434783,1.0
The Goddess,608,3.540296,1.0
Die Hard,274,3.717153,1.0
Eyes Wide Shut,411,3.648418,1.0
The Lord of the Rings: The Return of the King,183,2.754098,1.0
28 Days Later,392,3.246173,1.0
The Prisoner of Zenda,1115,3.955157,1.0
American Graffiti,319,3.717868,1.0
Walk the Line,211,3.630332,1.0
???????????????????,202,3.267327,1.0
Roma cittÃ aperta,323,3.879257,1.0
Trouble in Paradise,137,3.102190,1.0

# Improve Recommendation System

In [72]:
movieratings2 = movieratings.pivot_table(index=['userId'],columns=['original_title'],values='rating')

In [73]:
corrmatrix = movieratings2.corr()
corrmatrix.head()

original_title,!Women Art Revolution,$5 a Day,'Gator Bait,'R Xmas,'Twas the Night Before Christmas,...And the Pursuit of Happiness,...PiÃ¹ forte ragazzi!,...altrimenti ci arrabbiamo!,00 Schneider - Jagd auf Nihil Baxter,10 Items or Less,...,Ã ma sÅur!,Ã nos amours,Ã ke och hans vÃ¤rld,Ãon Flux,Ãloge de l'amour,Ãtre et avoir,Ãdipussi,ÃdolÃ­ vcel,ÃÃ§ maymun,Å Ã­lene smutnÃ¡ princezna
original_title,,,,,,,,,,,,,,,,,,,,,
!Women Art Revolution,1.0,NaN,NaN,NaN,1.0,1.0,0.359559,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.885615,NaN,NaN,NaN,NaN,NaN
$5 a Day,NaN,1.0,NaN,NaN,NaN,NaN,-0.301187,NaN,NaN,-0.500000,...,NaN,0.174078,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0
'Gator Bait,NaN,NaN,1.0,NaN,NaN,NaN,-0.524295,NaN,NaN,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'R Xmas,NaN,NaN,NaN,1.0,NaN,NaN,-0.045231,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Twas the Night Before Christmas,1.0,NaN,NaN,NaN,1.0,NaN,0.479317,NaN,NaN,-0.866025,...,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,NaN

In [74]:
corrmatrix = movieratings2.corr(method='pearson',min_periods=100)
corrmatrix.head()

original_title,!Women Art Revolution,$5 a Day,'Gator Bait,'R Xmas,'Twas the Night Before Christmas,...And the Pursuit of Happiness,...PiÃ¹ forte ragazzi!,...altrimenti ci arrabbiamo!,00 Schneider - Jagd auf Nihil Baxter,10 Items or Less,...,Ã ma sÅur!,Ã nos amours,Ã ke och hans vÃ¤rld,Ãon Flux,Ãloge de l'amour,Ãtre et avoir,Ãdipussi,ÃdolÃ­ vcel,ÃÃ§ maymun,Å Ã­lene smutnÃ¡ princezna
original_title,,,,,,,,,,,,,,,,,,,,,
!Women Art Revolution,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
$5 a Day,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Gator Bait,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'R Xmas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Twas the Night Before Christmas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
myR = movieratings2.loc[220].dropna()
myR

original_title
I Love You to Death       1.0
Kingu Kongu tai Gojira    5.0
Monsoon Wedding           3.0
Sister Act                5.0
The Big Sleep             5.0
The Good Shepherd         4.0
Name: 220, dtype: float64

In [76]:
simCand = pd.Series()


for i in range(0,len(myR.index)):
    
    sims = corrmatrix[myR.index[i]].dropna()
    sims = sims.map(lambda x: x * myR[i])
    
    simCand = simCand.append(sims)
    
simCand.sort_values(ascending=False,inplace=True)
simCand.head(10)

C:\Users\Faisal\AppData\Local\Temp\ipykernel_7504\524352806.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  simCand = pd.Series()
C:\Users\Faisal\AppData\Local\Temp\ipykernel_7504\524352806.py:9: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  simCand = simCand.append(sims)
C:\Users\Faisal\AppData\Local\Temp\ipykernel_7504\524352806.py:9: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  simCand = simCand.append(sims)
C:\Users\Faisal\AppData\Local\Temp\ipykernel_7504\524352806.py:9: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  simCand = simCand.append(sims)
C:\Users\Faisal\AppData\Local\Temp\ipykernel_7504\524352806.py:9: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  simCand = simCand.append(sims)
C:\Users\Faisal\AppData\Local\Temp\ipykernel_7504\524352806.py:9: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  simCand = simCand.append(sims)
C:\Users\Faisal\AppData\Local\Temp\ipykernel_7504\524352806.py:9: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  simCand = simCand.append(sims)

Sister Act                   5.000000
Kingu Kongu tai Gojira       5.000000
The Big Sleep                5.000000
The Good Shepherd            4.000000
Monsoon Wedding              3.000000
Neues vom Wixxer             2.654064
Dead Man                     2.653308
Broken Blossoms              2.615635
Galaxy Quest                 2.547689
Gremlins 2: The New Batch    2.535797
dtype: float64

In [79]:
simCand = simCand.groupby(simCand.index).sum()

simCand.sort_values(ascending=False,inplace=True)
simCand.head(10)

The Big Sleep                   6.584816
The Good Shepherd               6.485470
Monsoon Wedding                 6.419800
Romeo + Juliet                  6.248102
Belle Ãpoque                   5.999995
Sister Act                      5.977268
When Saturday Comes             5.907582
The Thomas Crown Affair         5.884477
And Then There Were None        5.870489
Die HÃ¶hle des gelben Hundes    5.794968
dtype: float64

In [78]:
filtered = simCand.drop(myR.index)
filtered.head(10)

Romeo + Juliet                  6.248102
Belle Ãpoque                   5.999995
When Saturday Comes             5.907582
The Thomas Crown Affair         5.884477
And Then There Were None        5.870489
Die HÃ¶hle des gelben Hundes    5.794968
Reign Over Me                   5.708426
La CitÃ© des Enfants Perdus     5.686181
Batman Returns                  5.579585
Psycho                          5.526159
dtype: float64